/* VARIABLES */
/* --------- */
:root {
	--white: #ffffff;
	/* --white-broken: #f1edde; */
	--white-broken: #fbf4ea;
	--gray: #8f8f9d;
	
	--dark: #5d5c4c;

	--c1: #a7746f;
	--c2: #b48a85;
	--c3: #ac735f;
	--yellow-egg: #cf9656;
	--green-kiwi: #998e5b;
	--green-forest: #616b50;
	--c4: #cf9576;

	--red: #9a4e50;
  }
  
  /* FONTS */
  /* ----- */
  @font-face {
    font-family: 'SnellRoundHand';
    src: url('/font/SnellBT-Regular.otf') format('opentype');
    }