@import './base.css';

html {
	font: 16px/1.5 "Roboto Slab", sans-serif;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
}
body {
	margin: 0;
	padding: 0;
	background-color: var(--white-broken);
}
section {
	padding: 1rem;
}
img {
	width: 100%;
}
.section {
	position: absolute;
	z-index: 0;
	width: 50%;
	height: 50%;
	overflow: hidden;
	cursor: pointer;
	transform: scale3d(1, 1, 1);
	will-change: transform, opacity, contents;
	transition-duration: 0.6s;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	border-radius: 25px;
}
.section:nth-child(1) {
	top: 0;
	left: 0;
	background: #f06060;
}
.section:nth-child(2) {
	top: 0;
	left: 50%;
	background: #fa987d;
}
.section:nth-child(3) {
	top: 50%;
	left: 0;
	background: #72cca7;
}
.section:nth-child(4) {
	top: 50%;
	left: 50%;
	background: #10a296;
}
.section.is-expanded {
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	inset: 0;
	z-index: 100;
	width: 100%;
	height: 100%;
	cursor: auto;
}
.has-expanded-item .section:not(.is-expanded) {
	transform: scale3d(0, 0, 0);
	opacity: 0;
}
.close-section {
	position: absolute;
	top: 0;
	right: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 3rem;
	height: 3rem;
	font-size: 2rem;
	line-height: 1;
	text-align: center;
	color: #fff;
	opacity: 0;
	cursor: pointer;
	pointer-events: none;
	transition: opacity 0.1s linear;
	will-change: opacity;
}
.section.is-expanded .close-section {
	opacity: 1;
	pointer-events: auto;
	transition-duration: 0.2s;
	transition-delay: 0.6s;
}
*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
.box {
	display: grid;
	place-items: center;
	height: 100%;
	font-size: 2.5rem;
	font-weight: 500;
	color: #fff;
}