
@import './base.css';

/* ELEMENTOS */
/* --------- */
body {
	margin: 0;
	background-color: var(--white-broken);
	font-size: 3rem;
	display: flex;
	justify-content: center;
	width: 100%;
}
h1 {
	margin: 0;
	text-align: center;
	font-family: 'SnellRoundHand';
	padding: 3rem;
	background-color: var(--green-forest);
	color: var(--white-broken);
}
section {
	text-align: center;
	padding: 3rem;
	background-color: var(--white-broken);
	color: var(--green-forest);
}
div {
	text-align: center;
	padding: 3rem;
}
img {
	width: 100%;
}
svg {
	fill: currentColor;
}
a {
	background-color: inherit;
	color: inherit;
	cursor: pointer;
	padding: 1rem 2rem;
	font-size: 2rem;
}
ul {
	list-style-type: none;
	padding: 0;
}
iframe {
	width: 100%;
	border: none;
}
  /* CLASES */
  /* --------- */
.container {
	padding: 0;
	max-width: 1000px;
}

  .s1 {
	  background-color: var(--white);
	  color: var(--green-forest);
  }
  .s2 {
	  background-color: var(--white-broken);
	  color: var(--green-forest);
  }
  .s3 {
	  background-color: var(--green-forest);
	  color: var(--white-broken);
  }
  
  .p1 {
	  padding-top: 1rem;
	  padding-bottom: 1rem;
  }
  .b1 {
	  border-top: 0.25rem solid var(--dark);
	  border-bottom: 0.25rem solid var(--dark);
  }
  .mb {
	margin-bottom: 2rem;
  }
  .list {
	  background-color: var(--white-broken);
	  color: var(--green-forest);
  }
  .list-item {
	  display: flex;
	  align-items: center;
  }
  .list-item-logo {
	  padding: 0;
  }
  .list-item-logo svg {
	  width: 16rem;
  }
  .list-item-body {
	  color: var(--gray);
	  text-align: start;
	  padding: 3rem 1.5rem;
  }
  .list-item-hour {
	  color: var(--green-forest);
	  font-size: 2rem;
	  margin: 0;
  }
  .list-item-title {
	  font-size: 3rem;
	  font-weight: 700;
	  margin: 0;
  }
  .list-item-subtitle {
	  font-size: 2rem;
	  font-weight: 600;
	  margin: 0;
  }
  .list-item-address {
	  font-size: 2rem;
	  font-weight: 400;
	  margin: 0;
  }

.list-item-body2 {
	color: var(--gray);
	padding: 3rem 1.5rem;
}
.btn {
	background-color: var(--red);
	color: var(--white-broken);
	padding: 1rem 2rem;
	border: .25em solid var(--yellow-egg);
	border-radius: 25px;
	text-align: center;
	text-decoration: none;
	font-size: 3.5rem;
	display: inline-block;
	cursor: pointer;
}
.link {
	background-color: var(--red);
	color: var(--white-broken);
	border: .25em solid var(--yellow-egg);
	border-radius: 25px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	cursor: pointer;
}


.accordion {
	background-color: var(--green-kiwi);
	color: var(--white-broken);
	cursor: pointer;
	transition: 0.4s;
	text-align: left;
	font-size: 3rem;
	width: 100%;
	padding: 2rem;
}
.accordion::after {
	content: '\002B';
  	font-weight: bold;
  	float: right;
  	margin-left: 5px;
}

.accordion.active::after {
	content: "\2212";
}

.accordion-panel{
	background-color: var(--white-broken);
	color: var(--green-forest);
	overflow: hidden;
	transition: max-height 0.2s ease-out;
	padding: 0 18px;
	max-height: 0;
	text-align: start;
}

.accordion-panel p {
	padding: 1rem;
}
.accordion-panel p small {
	font-size: 30px;
}