{{ if .Site.Params.education.enable | default false }}
<section id="education" class="py-5">
    <div class="container">
        <h3 class="text-center">{{ .Site.Params.education.title | default "Education" }}</h3>
        <div class="row justify-content-center py-5">
            {{ $indexMenu := .Site.Params.education.index }}
            {{ range $index, $element := .Site.Params.education.items }}
            <div class="col-12 p-0">
                <div class="row row align-items-center justify-content-center m-1 mb-4">
                    {{ if $indexMenu }}
                    <div class="col-md-1 text-center me-2 p-0 d-none d-md-block">
                        <div class="py-2">
                            <span class="index shadow-lg">
                                {{ add $index 1 }}
                            </span>
                        </div>
                    </div>
                    {{ end }}

                    <div class="col-md-9">
                        <div class="card">
                            <div class="card-body">
                                <div class="float-end">
                                    <small>{{ .date }}</small>
                                </div>
                                <h5 class="card-title">{{ .title }}</h5>
                                
                                {{ if .school.url }}
                                <a href="{{ .school.url }}" target="_blank">
                                    <h6>
                                    {{ .school.name }}
                                    </h6>
                                </a>
                                {{ else }}
                                {{ .school.name }}
                                {{ end }}

                                {{ if .score }}
                                <div class="py-1">
                                    Score:
                                    <i>
                                        <small>{{ .score }}</small>
                                    </i> 
                                </div>
                                {{ end }}
                                {{ if .percentile }}
                                <div class="py-1">
                                    Percentile:
                                    <i>
                                        <small>{{ .percentile }}</small>
                                    </i> 
                                </div>
                                {{ end }}
                                <div class="py-1 education-content">
                                    {{ .content | markdownify}}
                                </div>

                                {{ if .featuredLink.enable }}
                                <div class="py-1">
                                    <a href="{{ .featuredLink.url }}" class="btn">
                                        {{ .featuredLink.name | default "Featured" }}
                                    </a>
                                </div>
                                {{ end }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {{ end }}
        </div>
    </div>
</section>
{{ end }}
