{{ if .Site.Params.experience.enable | default false }}
<section id="experience" class="py-5">
    <div class="container">
        <h3 class="text-center">{{ .Site.Params.experience.title | default "Experience" }}</h3>
        <div class="row justify-content-center py-5">
            {{ $indexMenu := .Site.Params.experience.index }}
            {{ range $index, $element := .Site.Params.experience.items }}
            <div class="col-12 p-0">
                <div class="row row align-items-center justify-content-center m-1 mb-4">
                    {{ if $indexMenu }}
                    <div class="col-md-1 text-center me-2 p-0 d-none d-md-block">
                        <div class="py-2">
                            <span class="index shadow-lg">
                                {{ add $index 1 }}
                            </span>
                        </div>
                    </div>
                    {{ end }}

                    <div class="col-md-9">
                        <div class="card">
                            <div class="card-body">
                                <div class="float-end">
                                    <small>{{ .date }}</small>
                                </div>
                                <h5 class="card-title">{{ .job }}</h5>
                                
                                {{ if .companyUrl }}
                                <a href="{{ .companyUrl }}" target="_blank">
                                    <h6>
                                    {{ .company }}
                                    </h6>
                                </a>
                                {{ else }}
                                {{ .company }}
                                {{ end }}

                                {{ if .achievements }}
                                <div class="py-1">
                                    Achievements:
                                    <i>
                                        <small>{{ .achievements }}</small>
                                    </i> 
                                </div>
                                {{ end }}

                                <div class="py-1 experience-content">
                                    {{ .content | markdownify}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {{ end }}
        </div>
    </div>
</section>
{{ end }}
