<!-- Navbar -->
<header>
    <nav class="pt-3 navbar navbar-expand-lg">
        <div class="container-fluid mx-xs-2 mx-sm-5 mx-md-5 mx-lg-5">
            <!-- navbar brand -->
            <a class="navbar-brand primary-font text-wrap" href="{{ .Site.BaseURL | relURL }}">
                {{ if or (.Site.Params.favicon) (.Site.Params.navbar.brandLogo) }}
                <img src="{{ .Site.Params.navbar.brandLogo | default .Site.Params.favicon }}" width="30" height="30"
                    class="d-inline-block align-top">
                {{ .Site.Params.navbar.brandName | default .Site.Params.title }}
                {{ else }}
                {{ .Site.Params.navbar.brandName | default .Site.Params.title }}
                {{ end }}
            </a>

            <!-- navbar toggler -->
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarContent"
                aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
                <svg aria-hidden="true" height="24" viewBox="0 0 16 16" version="1.1" width="24" data-view-component="true">
                    <path fill-rule="evenodd" d="M1 2.75A.75.75 0 011.75 2h12.5a.75.75 0 110 1.5H1.75A.75.75 0 011 2.75zm0 5A.75.75 0 011.75 7h12.5a.75.75 0 110 1.5H1.75A.75.75 0 011 7.75zM1.75 12a.75.75 0 100 1.5h12.5a.75.75 0 100-1.5H1.75z"></path>
                </svg>
            </button>

            <!-- navbar content -->
            <div class="collapse navbar-collapse text-wrap primary-font" id="navbarContent">
                <ul class="navbar-nav {{ .Site.Params.navbar.align | default "ms-auto"}} text-center">
                    {{ if and (.Site.Params.about.enable | default false) (not (.Site.Params.navbar.menus.disableAbout | default false)) }}
                    <li class="nav-item navbar-text">
                        <a class="nav-link" href="{{ .Site.BaseURL | relURL }}#about" aria-label="about">About</a>
                    </li>
                    {{ end }}

                    {{ if and (.Site.Params.experience.enable | default false) (not (.Site.Params.navbar.menus.disableExperience | default false)) }}
                    <li class="nav-item navbar-text">
                        <a class="nav-link" href="{{ .Site.BaseURL | relURL }}#experience"
                            aria-label="experience">Experience</a>
                    </li>
                    {{ end }}

                    {{ if and (.Site.Params.education.enable | default false) (not (.Site.Params.navbar.menus.disableEducation | default false)) }}
                    <li class="nav-item navbar-text">
                        <a class="nav-link" href="{{ .Site.BaseURL | relURL }}#education"
                            aria-label="education">Education</a>
                    </li>
                    {{ end }}

                    {{ if and (.Site.Params.projects.enable | default false) (not (.Site.Params.navbar.menus.disableProjects | default false)) }}
                    <li class="nav-item navbar-text">
                        <a class="nav-link" href="{{ .Site.BaseURL | relURL }}#projects"
                            aria-label="projects">Projects</a>
                    </li>
                    {{ end }}

                    <!-- custom menus from the user -->
                    {{ range .Site.Menus.main }}
                    {{ if .HasChildren }}
                    <!-- Dropdown menu -->
                    <li class="nav-item navbar-text dropdown">
                        <a class="nav-link dropdown-toggle" href="{{ .URL }}" id="navbarDropdown" role="button"
                            data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" title="{{ .Title }}">
                            {{ .Name }}
                        </a>
                        <div class="dropdown-menu shadow-lg rounded" aria-labelledby="navbarDropdown">
                            {{ range .Children }}
                            <a class="dropdown-item text-center nav-link" href="{{ .URL }}"
                                title="{{ .Title }}">
                                {{ .Name }}
                            </a>
                            {{ end }}
                        </div>
                    </li>
                    {{else}}
                    <!-- Single menu item -->
                    <li class="nav-item navbar-text">
                        <a class="nav-link" href="{{.URL}}" title="{{ .Title }}">
                            {{ .Pre }}
                            {{ .Name }}
                        </a>
                    </li>
                    {{end}}
                    {{end}}
                </ul>
            </div>
        </div>
    </nav>
</header>
