<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<link rel="icon" href={{ .Site.Params.favicon | default "/fav.png" }} type="image/gif">

<!-- Fonts -->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link rel="preload"
      as="style"
      href="https://fonts.googleapis.com/css2?family=Alata&family=Lora:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
>
<link rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Alata&family=Lora:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
      media="print" onload="this.media='all'" />
<noscript>
  <link
          href="https://fonts.googleapis.com/css2?family=Alata&family=Lora:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
          rel="stylesheet">
</noscript>

<!-- font configuration -->
<link rel="stylesheet" href="{{ .Site.Params.staticPath }}/css/font.css" media="all">

<!-- stylesheets -->
{{- if (or (eq .Site.Params.UseBootstrapCDN true) (eq .Site.Params.UseBootstrapCDN "css")) -}}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
{{- else -}}
<link rel="stylesheet" href="{{ .Site.Params.staticPath }}/bootstrap-5/css/bootstrap.min.css" media="all">
{{- end -}}
<link rel="stylesheet" href="{{ .Site.Params.staticPath }}/css/header.css" media="all">
<link rel="stylesheet" href="{{ .Site.Params.staticPath }}/css/footer.css" media="all">

<!-- theme -->
<link rel="stylesheet" href="{{ .Site.Params.staticPath }}/css/theme.css" media="all">

<!-- Custom Styles -->
{{ if .Site.Params.customCSS }}
<link rel="stylesheet" href="{{ .Site.Params.staticPath }}/style.css">
{{ end }}

<style>
    :root {
        --text-color: {{ .Site.Params.color.textColor | default "#343a40" }};
        --text-secondary-color: {{ .Site.Params.color.secondaryTextColor | default "#6c757d" }};
        --background-color: {{ .Site.Params.color.backgroundColor | default "#eaedf0" }};
        --secondary-background-color: {{ .Site.Params.color.secondaryBackgroundColor | default "#64ffda1a" }};
        --primary-color: {{ .Site.Params.color.primaryColor | default "#007bff" }};
        --secondary-color: {{ .Site.Params.color.secondaryColor | default "#f8f9fa" }};

        /* dark mode colors */
        --text-color-dark: {{ .Site.Params.color.darkmode.textColor | default "#e4e6eb" }};
        --text-secondary-color-dark: {{ .Site.Params.color.darkmode.secondaryTextColor | default "#b0b3b8" }};
        --background-color-dark: {{ .Site.Params.color.darkmode.backgroundColor | default "#18191a" }};
        --secondary-background-color-dark: {{ .Site.Params.color.darkmode.secondaryBackgroundColor | default "#212529" }};
        --primary-color-dark: {{ .Site.Params.color.darkmode.primaryColor | default "#ffffff" }};
        --secondary-color-dark: {{ .Site.Params.color.darkmode.secondaryColor | default "#212529" }};
    }
    body {
        font-size: {{ .Site.Params.font.fontSize | default "1rem" }};
        font-weight: {{ .Site.Params.font.fontWeight | default "400" }};
        line-height: {{ .Site.Params.font.lineHeight | default "1.5" }};
        text-align: {{ .Site.Params.font.textAlign | default "left" }};
    }
</style>
